.filter-container {
  border-bottom: 1px solid #e9e9ed;
  padding: 10px 10px 5px 10px;

  .filter-header {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    position: relative;
    padding: 10px;
  }
}
