.product-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;
  max-width: 1000px;

  .product-list-item {
    margin: 0 0 20px 30px;
  }
}

.product-list-loader {
  & div[class*="css"] {
    background-color: #e25f70; 
  }
}