.sort-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;

  .nav-pills > li > a {
    border-radius: 20px;
    padding: 7px;

    &:hover {
      color: #4c384a;
      background-color: #fcded5;
    }
  }

  .nav-pills > li.active > a {
    background-color: #5a4445;

    &:hover {
      background-color: #fcded5;
    }
  }

  .sort-menu {
    .sort-menu-item + .sort-menu-item {
      margin-left: 10px;
    }
  }
}